version: 2
jobs:
  build:
    working_directory: /dotnetapidemo
    docker:
      - image: microsoft/dotnet:sdk
    environment:
      DOTNET_SKIP_FIRST_TIME_EXPERIENCE: 1
      DOTNET_CLI_TELEMETRY_OPTOUT: 1
      TAG: 0.1.$CIRCLE_BUILD_NUM
      DOCKERHUB_USER: chemesev

    steps:
      - checkout
      - run: dotnet restore
      - run: dotnet build      
      - run: dotnet publish -o out
      - setup_remote_docker
      # build and push Docker image
      - run: |
          docker build -t $DOCKERHUB_USER/dotnetapidemo:$TAG .      # (3)
          docker login -u $DOCKER_USER -p $DOCKER_PASS         # (4)
          docker push $DOCKERHUB_USER/dotnetapidemo:$TAG