version: "2.1"

services:
  dotnetapidemo:
    container_name: dotnetapidemo
    build:
      context: ../.
      dockerfile: Dockerfile
    environment:
      CONTACTS_DB_HOST: postgres
      CONTACTS_DB_PORT: 5432
      CONTACTS_DB_URL: postgres://root@postgres/root?sslmode=disable
      CONTACTS_DB_MIGRATIONS: /migrations
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:5000/api/tasks"]
      interval: 1m30s
      timeout: 10s
      retries: 3
    ports:
     - "5000:5000"

  database:
    image: postgres:9.6.2-alpine
    environment:
      POSTGRES_USER: root

  integration-tester:
    build:
      context: .
      dockerfile: Dockerfile.test
    depends_on: 
      - dotnetapidemo
    environment:
      API_URL: localhost